
# .env.example
OPENAI_API_KEY=<yourkey>

# GEMINI_API_KEY=<yourkey>

# ANTHROPIC_API_KEY=<yourkey>

GROQ_API_KEY=<yourkey>

HF_TOKEN=<yourkey>

#SERPAPI_API_KEY = <yourkey>

SENDER_EMAIL = <youremail>
RECEIVER_EMAIL = <youremail>
APP_PASSWORD = <password>
PINECONE_API_KEY=<yourkey>